body {
    background: #20262E;
    padding: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

#banner-message {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 75%; /* Thay đổi kích thước để phù hợp với video và canvas */
    position: relative; /* Thêm thuộc tính position cho banner-message */
}

#banner-message video, #banner-message canvas {
    display: block;
    margin: 0 auto;
    width: 70%; /* Chỉ định 70% chiều rộng để chúng có cùng chiều rộng */
    height: 100%; /* Chiều cao 100% tỉ lệ của video */
}

/* CSS cho thông báo khi video tạm dừng */
#pauseMessage {
    background: #ffcc00;
    color: #333;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none; /* Ẩn thông báo ban đầu */
}